.text-white {
  color: white;
}

@media (hover: hover) {
  .content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  .content .content-overlay {
    background: rgba(0, 0, 0, 0.0);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
    opacity: 1;
    z-index: 2;
  }

  .content:hover .content-overlay {
    opacity: 0;
  }

  .content-image {
    width: 100%;
  }

  .content-details {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 16px;
    text-align: left;
    max-width: 100%;
    min-width: 100%;
    color: white;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
  }

  .content:hover .content-details {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);

  }

  .content-details .content-title {
    font-size: 18px;
    font-weight: 600;
  }

  .content-details .content-text {
    font-size: 14px;
    font-weight: 400;
  }

}

@media (hover: none) {
  .content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
  }

  .content .content-overlay {
    background: rgba(0, 0, 0, 0.0);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.6;
    z-index: 2;
  }

  .content-image {
    width: 100%;
  }

  .content-details {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 16px;
    text-align: left;
    max-width: 100%;
    min-width: 100%;
    opacity: 1;
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
  }

  .content-title {
    font-size: 18px;
    font-weight: 600;
  }
}

.card-corners {
  border-radius: 7px;
}

.card {
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.25);
}

#card-row {
  margin: 5px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 75%; /* 3:2 aspect ratio = height is 2/3 of width */
  overflow: hidden;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.fade-in.loaded {
  opacity: 1;
}

