@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&family=Quicksand:wght@400;600&display=swap');

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  color: white;
  background: #00ac86;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

.row-full {
  width: 100vw;
  height: 100%;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
 }

.bg-senior-el-dinero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/senior-el-dinero.png');
  background-size: cover;
  background-position: center;
  padding: 10px 10%;
  color: #fff;
}

.subscribe h1 {
  text-align: center;
  margin-top: 50px;
}

.subscribe p {
  text-align: center;
}

.subscribe form {
  background: white;
  display: flex;
  text-align: center;
  margin: 0 auto; 
  width:272px;
}

.subscribe form input {
  border: 0;
  outline: none;
  padding: 10px 20px;
  height: 30px;
  width: 300px;
  font-size: 16px;
}

.subscribe form button {
  background: #6b009c;
  border: none;
  outline: none;
  height: 30px;
  width: auto;
  cursor: pointer;
}

.subscribe span {
  color: #61b752;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.subscribe-footer {
  /* border-top: rgb(64, 64, 64) solid 1px; */
  /* padding-top: 5px; */
  padding-bottom: 5px;
  }

.subscribe-footer img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
  min-width: 90px;
}