.filter-container {
  background: #02bd94;
  margin: 10px 10px 0px 10px;
  border-radius: 7px;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* scroll */
  /* width: 500px; */
  /* height: 100px; */
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.filter-container .button-container {
  font-size: 10pt;

  /* scroll */
  /* width: 24.5%; */
  /* background-color: #eee; */
  float: none;
  height: 90%;
  /* margin: 0 0.25%; */
  display: inline-block;
  zoom: 1;
}

.filter-container::-webkit-scrollbar {
  display: none;
}

.filter-container button {
  border: none;
  background: none;
  color: white;
  border-radius: 7px;
  margin: 2px;
}

.filter-container button:hover, button:focus {
  background: #00d6a8;
  outline: none;
}